@import "tailwindcss";

:root {
  --background: #fef2de;
  --foreground: #06080a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html[class="dark"] {
  --background: #06080a;
  --foreground: #fef2de;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}
